@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@font-face {
  font-family: "Rosca";
  src: url("/fonts/Rosca Slant.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wosker";
  src: url("/fonts/Wosker.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Glancyr";
  src: url("/fonts/Glancyr Variable-VF.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bold Wish";
  src: url("/fonts/BoldWishRough-Regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bionix";
  src: url("/fonts/Bionix-Fat.woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light Themes */
[data-theme="light-zinc"] {
  --primary: #000000; /* first text*/
  --primary-foreground: #000000; /* second text*/

  --secondary: #595959; /* your name*/
  --secondary-foreground: #ffffff; /* background*/
}

[data-theme="light-orange"] {
  --primary: #171717;
  --primary-foreground: #ff512f;

  --secondary: #595959;
  --secondary-foreground: #f1f1f1;
}

[data-theme="light-yellow"] {
  --primary: #222222;
  --primary-foreground: #ffc544;

  --secondary: #595959;
  --secondary-foreground: #f1e9dd;
}

[data-theme="light-blue"] {
  --primary: #222222;
  --primary-foreground: #008cff;

  --secondary: #595959;
  --secondary-foreground: #f1f1f1;
}

/*  DARK THEMES */
[data-theme="dark-zinc"] {
  --primary: #ffffff;
  --primary-foreground: #ffffff;

  --secondary: #595959;
  --secondary-foreground: #000000;
}

[data-theme="dark-orange"] {
  --primary: #f1f1f1;
  --primary-foreground: #ff512f;

  --secondary: #d1d1d1;
  --secondary-foreground: #171717;
}

[data-theme="dark-yellow"] {
  --primary: #f1e9dd;
  --primary-foreground: #ffc544;

  --secondary: #d1d1d1;
  --secondary-foreground: #222222;
}

[data-theme="dark-blue"] {
  --primary: #f1f1f1;
  --primary-foreground: #008cff;

  --secondary: #d1d1d1;
  --secondary-foreground: #222222;
}

[data-theme-section2="dark-brown"] {
  --primary: #000000;

  --secondary: #4f3723;
  --secondary-foreground: #89674a;

  --third: #e0dede;
  --third-foreground: #ffffff;
}

[data-theme-section3="dark-pink"] {
  --primary: #151412;

  --secondary: #fcf3e2;
  --secondary-foreground: #f5b1ae;

  --third: #f85b4c;

  --quadrant: #a2ae6a;

  --five: #fadb6e;
}

[data-theme-section3="light"] {
  --primary: #000000;
  --primary-foreground: #ffffff;

  --secondary: #595959;
  --secondary-foreground: #e9e9e9;
}
